.fs-button {
  background: linear-gradient(270deg, #ECBCB3 0%, #EAA79E 100%);
  box-shadow: 0px 15px 20px rgba(234, 168, 159, 0.2);
  border-radius: 3px;
  color: #fff;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  padding: 18px 51px;
  &.full-width {
    width: 100%;
  }
}